html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 25px;
  font-size: 1.6rem;
}

button {
  font-size: 1.6rem;
  color: white;
  background-color: dodgerblue;
  border-radius: 5px;
  padding: 10px;
  border: none;
  transition: all .3s ease;

  &:hover {
    background-color: rgb(12, 58, 104);

  }
}

